Repository Burhan793/heavens-above: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests, prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "jest --bail --findRelatedTests"
  ],
  "*.{js,json,yml,md}": [
    "prettier --write"
  ]
}

Add comprehensive Azure setup and testing documentation
  .github/azure/backup-policy.json
  docs/azure-setup.md
  docs/testing-guide.md
Due: prettier --write

Deploying to gh-pages from @ Burhan793/heavens-above@b9387588f13d1f644db206317242d58d21c43bdd 🚀
  azure-setup.md
  testing-guide.md
  workflows.md
Due: prettier --write

Add GitHub Actions workflow for Jekyll deployment
  .github/workflows/jekyll-gh-pages.yml
Due: prettier --write

fix: Update CI and documentation workflows for better error handling and GitHub Pages deployment
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
Due: prettier --write

fix: disable npm cache and ensure package-lock creation in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix: remove cache property from Node.js setup
  .github/workflows/ci.yml
Due: prettier --write

fix: update ESLint config and package dependencies
  .eslintrc.json
  package.json
Due: prettier --write

ci: skip lint when no JS/TS files present
  .github/workflows/ci.yml
Due: prettier --write

ci: tolerate no-tests (jest --passWithNoTests) so CI doesn't fail when none present)
  .github/workflows/ci.yml
Due: prettier --write

ci: skip build when no src or source files present to avoid webpack missing-entry error
  .github/workflows/ci.yml
Due: prettier --write

Fix all GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/code-review.yml
  .github/workflows/custom.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/deploy.yml
  .github/workflows/documentation.yml
  .github/workflows/release-notes.yml
  .github/workflows/scheduled-tasks.yml
Due: prettier --write

Fix CI/CD workflows to handle missing tests and linting gracefully
  .github/workflows/ci.yml
  .github/workflows/code-review.yml
  .github/workflows/deploy.yml
Due: prettier --write

Deploying to gh-pages from @ Burhan793/heavens-above@30b96405111a856882c9db4d2c7a293cc01f3e83 🚀
  css/ha.css
  css/ha.origin.css
  data/.gitkeep
  download.html
  index.html
Due: none

Complete GitHub Actions assignment with comprehensive workflows
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/code-review.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/deploy.yml
  .github/workflows/documentation.yml
  .github/workflows/release-notes.yml
  .github/workflows/scheduled-tasks.yml
  WORKFLOWS_DOCUMENTATION.md
  __tests__/utils.test.js
  er.name
  eslint.config.js
  jest.config.js
  package.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Deploying to gh-pages from @ Burhan793/heavens-above@ff99a89f83a3bf8bb1374e59f0efd27f644d08b9 🚀
  docs/index.md
  docs/workflows-index.html
  docs/workflows/README.md
Due: prettier --write

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251109_015742/.gitkeep
Due: none

⬆️ Update dependencies
  outdated.json
  package-lock.json
  update-report.md
Due: prettier --write

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251116_020059/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251123_020825/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251130_020732/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251207_020751/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251214_020832/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251221_020822/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20251228_022012/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20260104_022206/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20260111_022144/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20260118_022034/.gitkeep
Due: none

🤖 Automated weekly data update [skip ci]
  backups/data_backup_20260125_022358/.gitkeep
Due: none
